header {
    background: url(../img/pattern.png);
    background-color: lightblue;
}

.logo{
    width: 20%;
    height: 20%;
    margin-top: 100px;
}

.titolo{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-bottom: 0%;
}

.didascalia-autore{
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.autore{
    color: blue;
}

.foto-autore{
    margin-top: 20px;
}

.didascalia{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.evidenziare{
    background-color: chartreuse;
}
thead {
    background-color: blue;
    color: aliceblue;
}
.sfondo-tabella{
    background-color: aqua;

}
table{
    border-collapse: collapse;
}
tbody{
    text-align: justify;
    padding-top: 100px;
    width: 50px;
    height: 50px;
}
