header {
    background: url(../img/pattern.png);
    background-color: lightblue;
}

.logo{
    width: 20%;
    height: 20%;
    margin-top: 100px;
}

.titolo{
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
    margin-bottom: 0%;
}

.didascalia-autore{
    color: gray;
}

.autore{
    color: blue;
}

.foto-autore{
    margin-top: 20px;
}

.evidenziare{
    background-color: chartreuse;
}
thead {
    background-color: blue;
    color: aliceblue;
    height: 50px;
    text-align: left;
}
.sfondo-tabella{
    background-color: aqua;

}
table{
    border-collapse: collapse;

}
tbody{
    text-align: justify;

}

.tim-1{
    background-image: url(../img/monitor.jpg);
    height: 200px;
    width: 250px;
    color: aliceblue;
}

.tim-2{
    background-image: url(../img/graph.jpg);
    height: 200px;
    width: 250px;
    color: aliceblue;
}

.w-25{
    width: 25%;
}
div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}